---
---

@charset "utf-8";

// Brand colors
$primary: #007c89;
$secondary: #56638a;
$secondary-hover: lighten($secondary, 20%);

$media-color-one: #a5c882;
$media-color-two: #4e6766;
$media-color-three: #5ab1bb;
$media-color-four: #d5c67a;
$media-color-five: #1c2331;

// Default values
$gap: 32px !default;
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;

// SIOT custom styling
#main-content .col {
  max-width: 100%; // prevent code blocks from stretching out the page
}

.content img {
  max-width: 600px;
}

.content img.small {
  max-width: 400px;
}

.content img.large {
  max-width: 100%;
}

details summary {
  font-size: 1.2em;
  cursor: pointer;
  color: $primary;
}

.relative {
  position: relative;
}

.circuit-board-divider {
  position: absolute;
  top: 0px;
  opacity: 0.1;
}

.shape-divider {
  position: absolute;
  width: 110%;
  overflow: hidden;
  line-height: 0;
  left: -1px;
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }
}

.shape-divider-top-left {
  @extend .shape-divider;
  top: -1px;
}

.shape-divider-top-right {
  @extend .shape-divider;
  top: -1px;
  svg {
    transform: rotateY(180deg);
  }
}

.shape-divider-bottom-right {
  @extend .shape-divider-top-left;
  bottom: -1px;
  transform: rotate(180deg);
  svg {
    transform: rotateY(180deg);
  }
}

.product-tag {
  display: inline-block;
  font-size: 0.875rem;
  padding: 4px 8px;
  margin: 0 2px 8px 0;
  border-radius: 4px;
  color: #ffffff;
  border: 1.5px solid #ffffff;
}

.floating-image {
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 20rem;
    width: auto;
    transform: translate(-50%, -50%);
  }
}

// Mixins
@mixin touch() {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Background
.bg {
  &-primary {
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
    &-1 {
      background-color: $media-color-one;
      &:hover {
        background-color: darken($media-color-one, 10%);
      }
    }
    &-2 {
      background-color: $media-color-two;
      &:hover {
        background-color: darken($media-color-two, 10%);
      }
    }
    &-3 {
      background-color: $media-color-three;
      &:hover {
        background-color: darken($media-color-three, 10%);
      }
    }
    &-4 {
      background-color: $media-color-four;
      &:hover {
        background-color: darken($media-color-four, 10%);
      }
    }
    &-5 {
      background-color: $media-color-five;
      &:hover {
        background-color: darken($media-color-five, 10%);
      }
    }
  }
  &-1 {
    //background-color: $primary;
    background: url("https://c.stocksy.com/a/YY3500/z0/1205314.jpg") no-repeat
      left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2 {
    //background-color: $info;
    background: url("https://c.stocksy.com/a/FY3500/z0/1205295.jpg") no-repeat
      left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3 {
    //background-color: $warning;
    background: url("https://c.stocksy.com/a/L1o500/z0/1383923.jpg") no-repeat
      left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4 {
    //background-color: $danger;
    background: url("https://c.stocksy.com/a/Z22000/z0/7847.jpg") no-repeat left
      50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient {
    background: #b41e8e;
    background: -moz-linear-gradient(
      45deg,
      #b41e8e 0%,
      #5c3f9e 50%,
      #0061af 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #b41e8e 0%,
      #5c3f9e 50%,
      #0061af 100%
    );
    background: linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-singpass {
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #be2e7d 0%,
      #d64e54 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #be2e7d 0%,
      #d64e54 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #be2e7d 0%,
      #d64e54 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline {
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #009d62 0%,
      #0094d3 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #009d62 0%,
      #0094d3 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #009d62 0%,
      #0094d3 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  &-parkingsg {
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #0164b6 0%,
      #04a4e3 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #0164b6 0%,
      #04a4e3 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #0164b6 0%,
      #04a4e3 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
  &-primary {
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
}

// Text color
.has-text {
  &-primary {
    color: $primary !important;
  }
  &-secondary {
    color: $secondary !important;
  }
}

// Menu/Left-nav
.bp-menu-list a.is-active {
  color: $secondary !important;
  border-bottom: 2px solid $secondary !important;
  &:hover {
    border-bottom: 2px solid $secondary !important;
  }
}
.bp-menu-list a:hover {
  color: $secondary !important;
  border-bottom: 1px solid $secondary !important;
}

// Button
.bp-button.is-text span {
  &:hover,
  &:focus {
    color: $secondary;
  }
}
.bp-button:hover {
  color: $secondary;
}

// Secondary button
.bp-sec-button {
  color: $secondary;
  & span {
    border-bottom: 2px solid $secondary !important;
  }
  &:hover {
    & span {
      border-bottom: 2px solid $secondary-hover !important;
      color: $secondary-hover !important;
    }
    & i {
      color: $secondary-hover !important;
    }
  }
}

// Bottom navigation bar
.bottom-navigation {
  a {
    background-color: $secondary;
    &:hover {
      background-color: darken($secondary, 10%) !important;
    }
  }
}

.bp-section.bp-section-pagetitle {
  background-color: $primary !important;
}

// Pagination
.pagination {
  span {
    &:hover {
      border-color: $secondary;
      color: $secondary;
    }
    &.selected-page:hover {
      background-color: $secondary;
      border-color: $secondary;
    }
  }
  .selected-page {
    background-color: $secondary;
    border-color: $secondary;
  }
}

// Homepage
#key-highlights {
  background-color: $primary;
  .col {
    border-left: 1px solid darken($primary, 10%);
    @include touch() {
      border-top: 1px solid darken($primary, 10%);
    }
    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}

// Navbar
.navbar {
  &-start {
    .navbar-item {
      a {
        &.active {
          @include touch() {
            border-bottom: 2px solid $secondary;
          }
        }
      }
    }
  }
  .navbar-link:hover:after {
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
  }

  .navbar-item {
    .sub-link.is-active {
      color: $secondary;
    }

    .selector {
      &.active {
        background-color: $secondary;
      }
    }
    &.active {
      @include desktop() {
        border-bottom: 1px solid $secondary;
      }
    }
  }
  .navbar-item:hover {
    a {
      color: $secondary;
    }
    .selector {
      background-color: $secondary;
    }
  }
}

// Post-content
.content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $secondary;
    strong {
      color: $secondary;
    }
  }
  blockquote {
    border-left-color: $secondary;
  }
  blockquote > p {
    color: $secondary;
  }
  blockquote > ul {
    color: $secondary;
  }
}

// Media category buttons - not used now but will be used in the future
.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  letter-spacing: 0.5px;
}

.media-category-button:hover,
.media-category-button.selected {
  color: $secondary;
  border-bottom: 2px solid $secondary;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

.news-content {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken(#ffffff, 10%);
  }
}

.hero-dropdown {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.is-centered {
  margin: auto;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}

// Product section
.product-row {
  display: flex;
  flex-direction: row;
}

.product-image {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border-radius: 40px;
  width: 100%;
  padding-bottom: 75%;
}

@media screen and (min-width: 768px) {
  .product-row .col {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .product-row:nth-child(odd) {
    .col {
      text-align: right;
    }
    .product-image {
      margin-left: 0;
    }
  }

  .product-row:nth-child(even) {
    .product-image {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 968px) {
  .product-image {
    width: 80%;
    padding-bottom: 60%;
  }
}

@include mobile {
  .product-row,
  .contact-row {
    padding: 1rem 0 !important;
  }

  .product-row:nth-child(even) {
    flex-direction: column;
  }

  .product-row:nth-child(odd) {
    flex-direction: column-reverse;
  }
}

/* 
* TYPE WRITER ANIMATION AND CONFIGURATION 
*/

.headline {
  color: white;
  height: 6rem;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.cursor {
  border-bottom: solid 5px rgba(255, 255, 255, 0.75);
  position: absolute;
  right: 0;
  width: 40px;
}

#headline1 {
  -webkit-animation: animated-text1 1.5s steps(30, end) 1 normal both;
  animation: animated-text1 1.5s steps(30, end) 1 normal both;
}

#headline2 {
  -webkit-animation: animated-text2 1.5s steps(30, end) 1.5s 1 normal both;
  animation: animated-text2 1.5s steps(30, end) 1.5s 1 normal both;
}

#cursor1 {
  -webkit-animation: animated-cursor 500ms steps(30, end) 3 forwards;
  animation: animated-cursor 500ms steps(30, end) 3 forwards;
}

#cursor2 {
  -webkit-animation: animated-cursor 500ms steps(30, end) 1.5s infinite;
  animation: animated-cursor 500ms steps(30, end) 1.5s infinite;
}

@-webkit-keyframes animated-cursor {
  from {
    border-bottom-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-bottom-color: transparent;
  }
}

@keyframes animated-cursor {
  from {
    border-bottom-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-bottom-color: transparent;
  }
}

@media screen and (max-width: 568px) {
  .cursor {
    width: 20px;
  }

  .headline {
    height: 4rem;
  }

  @-webkit-keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 350px;
    }
  }

  @keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 350px;
    }
  }

  @-webkit-keyframes animated-text2 {
    from {
      width: 0;
    }
    to {
      width: 370px;
    }
  }

  @keyframes animated-text2 {
    from {
      width: 0;
    }
    to {
      width: 370px;
    }
  }
}

@media screen and (min-width: 569px) {
  .cursor {
    width: 25px;
  }

  .headline {
    height: 5.5rem;
  }

  @-webkit-keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 430px;
    }
  }

  @keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 430px;
    }
  }

  @-webkit-keyframes animated-text2 {
    from {
      width: 0;
    }
    to {
      width: 490px;
    }
  }

  @keyframes animated-text2 {
    from {
      width: 0;
    }
    to {
      width: 490px;
    }
  }
}

@media screen and (min-width: 769px) {
  .cursor {
    width: 40px;
  }

  @-webkit-keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 520px;
    }
  }

  @keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 520px;
    }
  }

  @-webkit-keyframes animated-text2 {
    from {
      width: 0;
    }
    to {
      width: 590px;
    }
  }

  @keyframes animated-text2 {
    from {
      width: 0;
    }
    to {
      width: 590px;
    }
  }
}

@media screen and (min-width: 1023px) {
  @-webkit-keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 750px;
    }
  }
  @keyframes animated-text1 {
    from {
      width: 0;
    }
    to {
      width: 750px;
    }
  }

  @-webkit-keyframes animated-text2 {
    from {
      width: 0;
    }
    to {
      width: 790px;
    }
  }

  @keyframes animated-text2 {
    from {
      width: 0;
    }
    to {
      width: 790px;
    }
  }
}
