---
layout: default
---

<style>
  html {
    font-family: Lato, sans-serif;
  }
  html.has-navbar-fixed-top-widescreen {
    padding-top: 28px !important;
  }
  @media screen and (max-width: 570px) {
    .display {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
  }
  #navbar {
    position: fixed;
    top: 0;
  }
  .navbar {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    width: 100%;
    transition: opacity 0.2s ease-in;
  }
  #navbar.show .navbar {
    visibility: visible;
    opacity: 100%;
  }
  .bp-masthead {
    overflow: hidden;
  }
  .bp-hero {
    background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80")
      no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .bp-hero-body .row {
    height: 700px;
    min-height: calc(100vh - 28px);
  }
  .no-after::after {
    display: none !important;
  }
  .philosophy-image {
    height: 200px;
    padding: 0 2rem 2rem 2rem !important;
  }
  .contact-image {
    height: 200px;
    padding: 0 2rem 0 2rem !important;
  }
</style>

<!-- Section 1 (Intro) -->
<section class="bp-hero bg-hero">
  <div class="bp-hero-body padding--none">
    <div class="row is-vcentered is-centered ma" style="margin: 0 auto; display: flex; height: 100%;">
      <div class="col has-text-white has-text-centered" style="margin-top: -100px;">
        <!-- logo -->
        <!-- <img
          src="{{ site.baseurl }}/images/logo_w_gt.png"
          style="width: 200px; background: white; padding: 5px"
        /> -->
        <!-- <p class="margin--bottom--lg">Sensors & IoT, GovTech</p> -->
        <h1 class="display padding--bottom--lg margin--none">
          <b>Sensing Singapore,<br />Connecting Citizens</b>
        </h1>
        <p class="margin--bottom--xl">
          We are developers, engineers, and creatives building IoT products in cross-functional teams.
        </p>
        <button
          id="read-more"
          class="bp-button is-white is-outlined is-uppercase search-button"
          >Read More
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 (Philosophy) -->
<section class="bp-section" id="philosophy">
  <div class="bp-container padding--bottom--xl">
    <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
      <p class="margin--bottom eyebrow is-uppercase">About Us</p>
      <h1 class="margin--bottom--lg has-text-primary"><b>Our Vision</b></h1>
    </div>

    <div class="row">
      <div class="col is-one-third padding has-text-centered">
        <img
          class="philosophy-image"
          src="images/philosophy_inspire.svg"
          alt=""
        />
        <h4 class="margin--bottom"><b>Inspire & Realize Ideas</b></h4>
        <p>
          We build IoT solutions where it makes a difference for citizens.
        </p>
      </div>
      <div class="col is-one-third padding has-text-centered">
        <img
          class="philosophy-image"
          src="images/philosophy_nation.svg"
          alt=""
        />
        <h4 class="margin--bottom"><b>Scale Nation-Wide</b></h4>
        <p>We work on projects that scale from 1 to 1,000,000.</p>
      </div>
      <div class="col is-one-third padding has-text-centered">
        <img
          class="philosophy-image"
          src="images/philosophy_communities.svg"
          alt=""
        />
        <h4 class="margin--bottom"><b>Build Communities</b></h4>
        <p>
          We build inclusively because the Smart Nation journey includes
          everybody.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Section 3 (Projects) -->
<section class="bp-section padding--left--none padding--right--none relative" style="background-color: #007c89;">
  <div class="shape-divider-top-right">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#FFFFFF"></path>
    </svg>
  </div>
  <img class="circuit-board-divider" src="{{site.baseurl}}/images/circuit-board/circuit_board_big.svg" width="100%" height="auto">
  <div class="bp-container padding--bottom--xl">
    <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
      <p class="margin--top--xl margin--bottom eyebrow is-uppercase has-text-white">WHAT WE DO</p>
      <h1 class="margin--bottom--lg has-text-white"><b>Our Projects</b></h1>
    </div>
    <div class="row product-row padding--top--lg padding--bottom--lg">
      <div class="col is-half padding--left--lg padding--right--lg">
        <div class="product-image" style="background-image: url('{{site.baseurl}}/images/project_tt_token.jpg')"></div>
      </div>
      <div class="col is-half padding--left--lg padding--right--lg">
        <h4 class="padding--bottom has-text-white"><b>TraceTogether Token</b></h4>
        <div class="product-tag">SG United</div>
        <div class="product-tag">Bluetooth</div>
        <div class="product-tag">Low-power</div>
        <p class="has-text-white">A bluetooth token that aids contact tracing efforts for COVID-19.</p>
        <a
          href="https://www.tracetogether.gov.sg/common/token/"
          class="padding--top--lg padding--bottom is-block no-after"
          target="_blank"
        >
          <div class="bp-button is-outlined is-uppercase search-button">
            Visit Website
          </div>
        </a>
      </div>
    </div>
    <div class="row product-row padding--top--lg padding--bottom--lg">
      <div class="col is-half padding--left--lg padding--right--lg">
        <h4 class="padding--bottom has-text-white"><b>Smart Gardens</b></h4>
        <div class="product-tag">Smart Lamppost</div>
        <div class="product-tag">Smart Cities</div>
        <div class="product-tag">Mesh</div>
        <div class="product-tag">Sensors</div>
        <p class="has-text-white">
          An integrated system of lamppost, sensors, and robots in the heart of
          Singapore.
        </p>
      </div>
      <div class="col is-half padding--left--lg padding--right--lg">
        <div class="product-image" style="background-image: url('{{site.baseurl}}/images/project_gardens.png')"></div>
      </div>
    </div>
    <div class="row product-row padding--top--lg padding--bottom--lg">
      <div class="col is-half padding--left--lg padding--right--lg">
        <div class="product-image" style="background-image: url('{{site.baseurl}}/images/project_tt_token.jpg')"></div>
      </div>
      <div class="col is-half padding--left--lg padding--right--lg">
        <h4 class="padding--bottom has-text-white"><b>Electricity Meters</b></h4>
        <div class="product-tag">Smart Cities</div>
        <div class="product-tag">Wireless</div>
        <div class="product-tag">IoT</div>
        <div class="product-tag">Environment</div>
        <p class="has-text-white">
          A network of smart meters that manages our country's energy
          consumption.
        </p>
      </div>
    </div>
    <div class="row product-row padding--top--lg padding--bottom--lg">
      <div class="col is-half padding--left--lg padding--right--lg">
        <h4 class="padding--bottom has-text-white"><b>eCanvas</b></h4>
        <div class="product-tag">AI</div>
        <div class="product-tag">Mechatronics</div>
        <div class="product-tag">Mechanical</div>
        <div class="product-tag">Social Good</div>
        <p class="has-text-white">
          A robotics structure with a voice-command interface that allows persons with disabilities to pursue their artistic endeavors independently.
        </p>
        <a
          href="https://www.youtube.com/watch?v=tTio3SsVMvc"
          class="padding--top--lg padding--bottom is-block no-after"
          target="_blank"
        >
          <div class="bp-button is-outlined is-uppercase search-button">
            Watch Video
          </div>
        </a>
      </div>
      <div class="col is-half padding--left--lg padding--right--lg">
        <div class="product-image" style="background-image: url('{{site.baseurl}}/images/project_ecanvas.png')"></div>
      </div>
    </div>
    <div class="row product-row padding--top--lg padding--bottom--lg">
      <div class="col is-half padding--left--lg padding--right--lg">
        <div class="product-image" style="background-image: url('{{site.baseurl}}/images/project_smartgym.jpg')"></div>
      </div>
      <div class="col is-half padding--left--lg padding--right--lg">
        <h4 class="padding--bottom has-text-white"><b>Smart Gym</b></h4>
        <div class="product-tag">Sensors</div>
        <div class="product-tag">Cloud</div>
        <div class="product-tag">UI</div>
        <div class="product-tag">Full Stack</div>
        <div class="product-tag">Health & Wellness</div>
        <p class="has-text-white">
          A network of sensor-integrated gym equipment at community gyms, uplifting the wellness of Singaporeans.
        </p>
      </div>
    </div>
    <div class="row product-row padding--top--lg padding--bottom--lg">
      <div class="col is-half padding--left--lg padding--right--lg">
        <h4 class="padding--bottom has-text-white">
          <b>GALE (GovTech Assisted Living Ecosystem)</b>
        </h4>
        <div class="product-tag">Wireless</div>
        <div class="product-tag">Cloud</div>
        <div class="product-tag">Embedded</div>
        <p class="has-text-white">
          An ecosystem built to support the assisted living infrastructure in
          Singapore.
        </p>
        <a
          href="https://www.8world.com/news/singapore/article/govtech-pab-1009726"
          class="padding--top--lg padding--bottom is-block no-after"
          target="_blank"
        >
          <div class="bp-button is-outlined is-uppercase search-button">
            Read More (in Chinese)
          </div>
        </a>
      </div>
      <div class="col is-half padding--left--lg padding--right--lg">
        <div class="product-image" style="background-image: url('{{site.baseurl}}/images/project_gale.png')"></div>
      </div>
    </div>
  </div>
  <div class="shape-divider-bottom-right">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#FFFFFF"></path>
    </svg>
  </div>
</section>

<!-- Section 4 (Blog) -->
<section class="bp-section">
  <div class="bp-container padding--bottom--xl">
    <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
      <p class="margin--bottom eyebrow is-uppercase">READ MORE ABOUT US</p>
      <h1 class="margin--bottom--lg has-text-primary"><b>Our Blog</b></h1>
    </div>
    <div class="row padding--left--lg padding--right--lg">
      <div class="col is-one-third">
        <h4 class="padding--top--lg has-text-secondary"><b>
          A Day in the Life of a SIOT Software Developer</b></h4>
        <p class="padding--top--sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis fugiat modi dolor illum temporibus libero, corporis ullam totam quaerat aperiam et enim recusandae velit quas nulla soluta accusantium. Iusto, commodi.</p>
        <a href="{{site.baseurl}}/careers/product-manager/" class="bp-sec-button margin--top padding--bottom">
            <div>
                <span>Read More</span>
                <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
        </a>
      </div>
      <div class="col is-one-third">
        <h4 class="padding--top--lg has-text-secondary"><b>My Experience building the TraceTogether Token</b></h4>
        <p class="padding--top--sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis fugiat modi dolor illum temporibus libero, corporis ullam totam quaerat aperiam et enim recusandae velit quas nulla soluta accusantium. Iusto, commodi.</p>
        <a href="{{site.baseurl}}/careers/software-engineer/" class="bp-sec-button margin--top padding--bottom">
            <div>
                <span>Read More</span>
                <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
        </a>
      </div>
      <div class="col is-one-third">
        <h4 class="padding--top--lg has-text-secondary"><b>Developing Singpore's capability in Sensors & IoTs</b></h5>
        <p class="padding--top--sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis fugiat modi dolor illum temporibus libero, corporis ullam totam quaerat aperiam et enim recusandae velit quas nulla soluta accusantium. Iusto, commodi.</p>
        <a href="{{site.baseurl}}/careers/product-designer/" class="bp-sec-button margin--top padding--bottom">
            <div>
                <span>Read More</span>
                <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
            </div>
        </a>
      </div>
  </div>
</section>

<!-- Section 5 (Contact Us) -->
<section class="bp-section padding--left--none padding--right--none relative" style="background-color: #56638a;">
  <div class="shape-divider-top-left">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#FFFFFF"></path>
    </svg>
  </div>
  <img class="circuit-board-divider" src="{{site.baseurl}}/images/circuit-board/circuit_board_small.svg" width="100%" height="auto">
  <div class="bp-container padding--bottom--xl">
    <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
      <p class="margin--top--xl margin--bottom eyebrow is-uppercase has-text-white">CHAT WITH US</p>
      <h1 class="margin--bottom--lg has-text-white"><b>Contact Us</b></h1>
    </div>
    <div class="row contact-row is-centered padding--top--lg padding--bottom--lg">
      <img class="contact-image padding--top--lg" src="images/contact_career.svg" alt=""/>
      <div class="col is-half padding--lg">
        <h4 class="padding--bottom has-text-white"><b>Career</b></h4>
        <p class="has-text-white">
          We are constantly looking for skilled and passionate individuals to join us. We have various positions available, including both full and part time positions. 
        </p>
        <a
          href="{{ site.baseurl }}/#career"
          class="padding--top--lg padding--bottom is-block no-after"
          target="_blank"
        >
          <div class="bp-button is-outlined is-uppercase search-button">
            Join Us
          </div>
        </a>
      </div>
    </div>
    <div class="row contact-row is-centered padding--top--lg padding--bottom--lg">
      <img class="contact-image padding--top--lg" src="images/contact_contact_us.svg" alt=""/>
      <div class="col is-half padding--lg">
        <h4 class="padding--bottom has-text-white"><b>Contact Us</b></h4>
        <p class="has-text-white">
          Have any questions or feedback? Get details on our location and email.
        </p>
        <a
          href="{{ site.baseurl }}/contact-us"
          class="padding--top--lg padding--bottom is-block no-after"
          target="_blank"
        >
          <div class="bp-button is-outlined is-uppercase search-button">
            Contact Us
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  document.getElementById("read-more").onclick = function() {
    const firstSection = document.getElementById("philosophy");
    firstSection.scrollIntoView({behavior: "smooth"});
  }
  
  window.onscroll = function () {
    const html = document.getElementsByTagName("html")[0];
    if (html.scrollTop > 200)
      document.getElementById("navbar").classList.add("show");
    else document.getElementById("navbar").classList.remove("show");
  };
</script>
