---
layout: default
---

<style>
  html {
    background-color: #ffec8b;
    font-family: Lato, sans-serif;
  }
  .bp-hero {
    background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80")
      no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .container {
    background-color: #ffe03d;
    padding: 8px;
    border-radius: 4px;
  }
  .flex-row {
    display: flex;
  }
  .flex-item {
    background-color: #fff;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
  }
</style>

<!-- Section 1 (Intro) -->
<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
    <div class="bp-container margin--top--lg margin--bottom--lg">
      <div class="row is-vcentered is-centered ma">
        <div class="col has-text-white has-text-centered">
          <h1 class="display padding--bottom--lg margin--none">
            <b>Sensing Singapore,<br />Connecting Citizens</b>
          </h1>
          <p class="margin--bottom--xl">
            We are developers, engineers, creatives who work in cross functional
            teams to deliver products.
          </p>
          <a
            href="{{ site.baseurl }}/#careers"
            class="bp-button is-white is-outlined is-uppercase search-button"
            >Join Us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 (Philosophy) -->
<section>
  <h2>Vision</h2>
  <div class="container flex-row">
    <div class="flex-item">
      <h4>Inspire & Realize Ideas</h4>
      <p>
        We collaborate with agencies to identify opportunities where IoT can
        make a difference for citizens, and we build them.
      </p>
    </div>
    <div class="flex-item">
      <h4>Scale Nation-wide</h4>
      <p>We work on projects that scale from 1 to 1,000,000.</p>
    </div>
    <div class="flex-item">
      <h4>Build Communities</h4>
      <p>
        We build inclusively because the Smart Nation journey includes
        everybody.
      </p>
    </div>
  </div>
</section>

<!-- Section 3 (Projects) -->
<section>
  <h2>Project</h2>
  <div class="container">
    <div class="flex-item">
      <h4>TraceTogether Token</h4>
      <p>A bluetooth token that aids contact tracing efforts for COVID-19</p>
    </div>
    <div class="flex-item">
      <h4>Smart Gardens</h4>
      <p>
        An integrated system of lamppost, sensors, and robots in the heart of
        Singapore.
      </p>
    </div>
    <div class="flex-item">
      <h4>Electricity Meters</h4>
      <p>
        A network of smart meters that manages our country's energy consumption.
      </p>
    </div>
    <div class="flex-item">
      <h4>eCanvas</h4>
      <p>
        A neural-networked voice command system that provides greater
        independence for persons with disabilities to pursue their artistic
        endeavours.
      </p>
    </div>
    <div class="flex-item">
      <h4>Smart Gym</h4>
      <p>
        A network of sensors integrated into gym equipments that are deployed at
        community gyms and paves the way for uplifting the population wellness.
      </p>
    </div>
    <div class="flex-item">
      <h4>GALE</h4>
      <p>
        Aka GovTech Assisted Living Ecosystem, an ecosystem built to support the
        assisted living infrastructure in Singapore.
      </p>
    </div>
  </div>
</section>

<!-- Section 4 (Blog) -->
<section>
  <h2>Blog</h2>
  <div class="container"></div>
</section>

<!-- Section 5 (Contact Us) -->
<section>
  <h2>Contact Us</h2>
  <div class="container"></div>
</section>
